* {
    box-sizing: border-box;
    background-size: auto;
    margin: 0;
}

section{
    background-image: url(images/bg.svg);
    background-repeat: no-repeat;
}

#up-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background: transparent;
}

#temperature {
    font-size: 80px;
    font-family: "Overpass";
    padding: 100px 130px;
    font-weight: bolder;
    color: #1b2033;
    line-height: 105%;
    text-shadow: -4px 8px 50px rgba(0, 0, 0, 0.1);

}

#up-content img{
    margin-top: -170px;
    background-color: transparent;
    background: transparent;
}

#title-website {
    padding: 100px 100px;
}

#title-website h1{
    font-family: "Overpass";
    font-size: 50px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: -4.11429px 8.22857px 51.4286px rgba(0, 0, 0, 0.1);
}

#title-website p{
    padding-top: 24px;
    font-family: "Overpass";
    font-size: 23px;
    font-weight: 600;
    background: #6D6D6D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-shadow: -4.2px 8.3px 51.4286px rgba(0, 0, 0, 0.1); */
}

#date {
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 12px;
}

#date h1{
    font-family: "Overpass";
    font-size: 80px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#date p{
    padding-top: 8px;
    font-family: "Overpass";
    font-size: 18px;
    font-weight: 600;
    background: #222222;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-shadow: -4.2px 8.3px 51.4286px rgba(0, 0, 0, 0.1); */
}

/* #date form {


    
    padding: 10px 24px;
    border: none;
    background-color: #FADC3F;
    border-radius: 30px;
    margin-bottom: 30px;
    color: #222222;
    display: flex;
    text-align: start;
    justify-content: space-between;
} */

/* ======= INPUT SEARCH CITY =======  */
.search-input-city {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 28px;
    background: #FADC3F;
}

#search-input {
    border: none;
    background: none;
    color: #222222;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 4px;
}

/* #date form input {
    border: none;
    padding: 10px 0px;
    background: none;
    color: #222222;
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: #FADC3F;
    border-radius: 30px;
    float: left;
    width: 80%;
}

#date form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
} */

/* ===== CARD ====== */
.card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    background: transparent;
    margin-top: 80px;
    padding: 0px 100px;
    padding-bottom: 130px;
    gap: 18px;
}

.card-list{
    width: 15.40%;
    background-image: url(images/card-bg.png);
    background-size: 150% 150%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding: 40px 0px;
    min-height: 300px;
}

.card-list h3{
    color: white;
    font-family: "Overpass";
    line-height: 20%;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-shadow: -1.85429px 2.78143px 0.927143px rgba(0, 0, 0, 0.1);
}