* {
    box-sizing: border-box;
    background-size: auto;
    margin: 0;
}

section{
    background-image: url(images/bg.svg);
    background-repeat: no-repeat;
}

#up-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background: transparent;
}

#temperature {
    font-size: 80px;
    font-family: "Overpass";
    padding: 100px 130px;
    font-weight: bolder;
    color: #1b2033;
    line-height: 105%;
    text-shadow: -4px 8px 50px rgba(0, 0, 0, 0.1);

}

#up-content img{
    margin-top: -180px;
    background-color: transparent;
    background: transparent;
}

#title-website {
    padding: 100px 100px;
}

#title-website h1{
    font-family: "Overpass";
    font-size: 50px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: -8px 8px 50px rgba(0, 0, 0, 0.1);
}

#title-website p{
    padding-top: 24px;
    font-family: "Overpass";
    font-size: 22px;
    font-weight: 600;
    background: #6D6D6D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-shadow: -4.2px 8.3px 51.4286px rgba(0, 0, 0, 0.1); */
}

#date {
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
}


.search-icon{
    border: none;
    background: none;
}

#date h1{
    font-family: "Overpass";
    font-size: 80px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: -8px 8px 50px rgba(0, 0, 0, 0.1);
}

#date p{
    padding-top: 8px;
    font-family: "Overpass";
    font-size: 20px;
    font-weight: 600;
    background: #222222;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: -22px 8.3px 100px rgba(0, 0, 0, 0.1);
}

/* ======= INPUT SEARCH CITY =======  */
.search-input-city {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 28px;
    background: #FADC3F;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#search-input {
    border: none;
    background: none;
    color: #222222;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 4px;
}

#search-input:focus {
    outline: 0px;
}

/* ==== LOADING ==== */
#loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* ===== CARD ====== */
.card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    background: transparent;
    margin-top: 80px;
    padding: 0px 80px;
    padding-bottom: 100px;
    gap: 18px;
}

.card-list{
    width: 15.40%;
    background-image: url(images/card-bg.png);
    background-size: 150% 150%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 40px;
    min-height: 290px;
}

.card-list h3{
    color: white;
    font-family: "Overpass";
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-shadow: -1.85429px 2.78143px 0.927143px rgba(0, 0, 0, 0.1);
    margin-bottom: -20px;
    margin-top: -10px;
}

.temp-cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 8px;
}

.temp{
    width: 70px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
    filter: blur(0.1px);
    padding: 4px 10px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    margin-top: -20px;
    border-radius: 12px;
    color: #FFFFFF;
    text-shadow: -3.70857px 7.41714px 46.3571px rgba(0, 0, 0, 0.1);

}

.date-cards{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 80px;
    color: #FFFFFF;
    text-shadow: -3.70857px 7.41714px 46.3571px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
    margin-bottom: 12px;
}

footer {
    background: #F0F7FF;
    margin-top: -20px;
    color: #222222;
    text-align: center;
    padding: 30px 0px;
}

.designer {
    /* opacity: 0.7; */
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0.5px;
    font-weight: 900;
}












