* {
    box-sizing: border-box;
    background-size: auto;
    margin: 0;
}

section{
    background-image: url(images/bg.svg);
}

#up-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background: transparent;
}

#temperature {
    font-size: 80px;
    font-family: "Overpass";
    padding: 100px 130px;
    font-weight: bolder;
    color: #1b2033;
    line-height: 105%;
    text-shadow: -4px 8px 50px rgba(0, 0, 0, 0.1);

}

#up-content img{
    margin-top: -170px;
    padding-right: 100px;
    background-color: transparent;
    background: transparent;
}

#title-website {
    padding: 100px 100px;
}

#title-website h1{
    font-family: "Overpass";
    font-size: 50px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: -4.11429px 8.22857px 51.4286px rgba(0, 0, 0, 0.1);
}

#title-website p{
    padding-top: 24px;
    font-family: "Overpass";
    font-size: 23px;
    font-weight: 600;
    background: #6D6D6D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-shadow: -4.2px 8.3px 51.4286px rgba(0, 0, 0, 0.1); */
}

#date {
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
}

#date h1{
    font-family: "Overpass";
    font-size: 80px;
    font-weight: 900;
    line-height: 100%;
    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#date p{
    padding-top: 8px;
    font-family: "Overpass";
    font-size: 18px;
    font-weight: 600;
    background: #222222;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-shadow: -4.2px 8.3px 51.4286px rgba(0, 0, 0, 0.1); */
}

#date input {
    padding: 10px 20px;
    /* width: 200px; */
    border: none;
    background-color: #FADC3F;
    border-radius: 30px;
    margin-bottom: 30px;
    color: #222222;
}

/* ===== CARD ====== */
.card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    background: transparent;
    margin-top: 80px;
    padding: 0px 100px;
    padding-bottom: 130px;

}

.card-list{
    width: 210px;
    height: 240px;
    background-image: url(images/card-bg.png);
    box-sizing: border-box;
    background-size: cover; /* atur agar gambar mengisi seluruh area card */
  background-position: center; 
    border-radius: 15px;
    padding: 0;
    box-shadow: -5.14286px 10.2857px 41.1429px 3.08571px rgba(19, 35, 78, 0.2); 
    /* background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%); */
}

.card-1 p{
    background-color: transparent;
    margin: 0;
    padding: 0;
}



